html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#mystatus {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.30);
}

.table {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.30);
}

.floating-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  text-align: center;
  color: #fff;
  line-height: 60px;
  cursor: pointer;
  z-index: 9999;
}

.container {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.30);
  z-index: 1;
  max-width: 30rem;
  padding: 1rem;
  min-width: fit-content;
}

.table-bordered {
  max-width: 30rem;
}

.container.show {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.btn {
  margin-top: 1rem;
  margin-left: auto;
}

#message {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#mymodal{
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#status-buttons{
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

